*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container::-webkit-scrollbar {
  display: none;
}
.container{
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

:root {
  --color-bg-btn: #9875F3;
  --color-bg-btn-hover: #4D1FC6;
  --color-shadow-btn-active: rgba(0, 0, 0, .3);
  --color-border-field: rgb(200, 200, 200);
}
.input-file {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}
.input-file-input {
  display:none;
}
.input-file__btn {
  height: 34px;
    padding: 6px 12px;
    border-radius: 17px;
    background-color: var(--color-bg-btn);
    color: white;
    width: 170px;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
}

.input-file__btn:hover {
    background-color: var(--color-bg-btn-hover);
}

.input-file__btn:active {
    -webkit-box-shadow: 0 3px 5px var(--color-shadow-btn-active) inset;
    box-shadow: 0 3px 5px var(--color-shadow-btn-active) inset;
}